<form id="create-animal-form">
	<input name="name" placeholder="animal name">
	<input name="breed" placeholder="animal breed">
	<input type="date" name="dob">
	<input name="gender" placeholder="animal gender">
	<input name="family" placeholder="animal's family">
	<button id="submit-animals">Submit</button>
</form>

<div id="show-animals"></div>