<!DOCTYPE html>  
<html lang="en">
  <head>
    <title>Animal Shelter</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="../public/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
  </head>
   <body>
    <div class="container">
      <div class="row">
        <div class="small-6 large-centered columns">
          <h1>ANIMAL Shelter</h1>
        </div>
      </div>
    </div>
    <%- body %>
  </body>
</html>
</html>
